:root {
  --white: #ffffff;
  --gray: #f1f1f1;
  --gray-dark: #dfdfdf;
  --black: #000000;
  --black-02: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
}

.button {
  cursor: pointer;
  border: none;
  padding: 1rem 4rem;
  background-color: var(--white);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  transition: background-color 0.15s ease;
}
.button:hover {
  background-color: var(--gray);
}
.button:active {
  background-color: var(--gray-dark);
}

.modal {
  visibility: hidden;
  display: grid;
  align-items: center;
  justify-content: center;

  overflow: auto;
  position: fixed;
  inset: 0;

  transition: visibility 0.3s ease, background-color 0.3s ease;
}
.modal_open {
  visibility: visible;
  background-color: var(--black-02);
}
.modal_open .content {
  transform: scale(1);
  opacity: 1;
}

.content {
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 20rem;
  background-color: var(--white);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.close {
  cursor: pointer;
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: transform 0.15s ease;
}
.close:hover {
  transform: scale(1.1);
}
.close:active {
  transform: scale(1);
}
.close::before,
.close::after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.125rem;
  height: 70%;
  background-color: var(--black);
}
.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
